
<% layout("layouts/boilerplate") %>
<body>
    <div class="row">
       


    <div class="col-8 offset-3 mt-3">
    <h2><b> <%=listing.title %></b><br></h2>
    </div>

    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%=listing.image.url %>" class="card-img-top show-img" alt="...">

       <div class="card-body">
        <p class="card-text"></p>

            <p><%=listing.owner.username %><br></p>
          <p> <%=listing.description %><br></p>
         <p> <%=listing.location %><br></p>
         <p> &#8377;<%=listing.price.toLocaleString("en-IN") %></p><br>
          <p> <%=listing.location %></p><br>
        </p>
        </div>

    </div>

   <% if(currUser && listing.owner._id.equals(currUser._id)){ %> 
    <div class="col-6 offset-3 mt-3">
            <!-- Button will be visible if the condition is false -->
        <a href="/listing/<%=listing._id %>/edit" class="btn btn-dark mr-2 edit-btn">Edit</a>
        <form method="post" action="/listing/<%=listing._id %>?_method=Delete" class="d-inline">
            <button type="submit" class="btn btn-dark">Delete</button>
        </form>
    </div>
    <%}%>
    <hr>
    <div class="col-8 offset-3">
        <br>
        <% if(currUser) {%>
        <h4>Leave a review</h4>
        <form method="post" action="/listing/<%=listing._id %>/reviews" novalidate class="needs-validation">
            
            <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <fieldset class="starability-slot">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
             </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea name="review[comment]" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">please add your comment for review</div>
            </div>
            <button class="btn btn-outline-dark">submit</button>
        </form>
        <hr>
        <%}%>
        <p><b>All Reviews</b></p>
       <div class="row">
        <% for(review of listing.reviews){%>
            <div class="card col-5 ms-3 mb-3">
              <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">@<%=review.author.username%></p>
                  <p class="starability-result card-text" data-rating="<%=review.rating%>"></p>
                  <p class="card-text"><%=review.comment%></p>
                  <p class="card-text">Stars</p>
                  
              </div>
              
            <form class="mb-3" method="post" action="/listing/<%=listing._id %>/reviews/<%=review._id %>?_method=Delete ">
                
                <button class="btn btn-sm btn-dark">Delete</button>
            </form>
            </div>
        <% }%>
       </div>
    
    </div>
    <div class="mapouter col-8 offset-3" ><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=wall street 2&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://strandsgame.net/">Strands</a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div>

</div>
</div>
</body>


